<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    {{>metas}}

</head>

<body id="page-top">

    {{>header}}

    {{>masthead}}

    {{>services}}

    {{>portfolio}}

    {{>about}}

    {{>technologies}}

    {{!-- {{>clients}} --}}

    {{>contact}}

    {{>footer}}

    {{>modal}}

    {{>scripts}}

</body>

</html>