<!DOCTYPE html>
<html lang="en">

<head>
    <title>Elderom Cluj-Napoca-Litere-volumetrice</title>
   {{>metas}}

</head>

<body id="galerie">
{{>headerGallery}}
<div class="galerie">
<div data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="gallery">
            </div>

            <figure class="col-md-4">
                <a class="black-text" href="/img/portfolio/LitereVolumetrice/24.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="/img/portfolio/LitereVolumetrice/24.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">IQuest</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/26.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/26.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">TheOfficeCluj</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/27.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/27.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Betfair</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/28.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/28.jpg"
                         class="img-fluid">
                    <h3 class="text-center my-3">Nobilacasa</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/29.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/29.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photos</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/30.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/30.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Comau</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/31.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/31.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">IQuest</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/3.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/3.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">BFGoodrich</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/32.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/32.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Nobilacasa</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/33.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/33.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">PowerBelt</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/34.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/34.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">RiverRestaurant</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/35.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/35.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">JucariiCosmetice etc.</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/36.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/36.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">ConcertVoltaj</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/37.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/37.jpg"
                         class="img-fluid">
                    <h3 class="text-center my-3">StarTransmission</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/38.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/38.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">MarketingBeratungInternational</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/39.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/39.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Memo10</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/40.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/40.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Betfair</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/41.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/41.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Aegon</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/42.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/42.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Bombardier</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/43.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/43.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Nobilacasa</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/44.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/44.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Bosch</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/45.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/45.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">MBIBank</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/46.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/46.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Creic</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/47.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/47.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">SalonConfort</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/5.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/5.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">PensiuneaVerona</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/6.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/6.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">CityMoonmarket</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/7.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/7.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Premuim</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/8.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/8.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">SalonlaGrande</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/9.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/9.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">G&D</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/10.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/10.jpg"
                         class="img-fluid">
                    <h3 class="text-center my-3">G&D</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/11.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/11.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">SalonConfort</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/12.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/12.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">MedPrime DentalClinic</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/13.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/13.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Seisha bar cafe</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/14.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/14.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Seisha bar cafe</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/15.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/15.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Bosch</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/16.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/16.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Bosch</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/17.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/17.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Fortech</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/18.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/18.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Hasna</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/19.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/19.jpg"
                         class="img-fluid">
                    <h3 class="text-center my-3">Medicover</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/4.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/4.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Centogroup</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/20.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/20.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">RayMedica Obstetrica-Ginecologie</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/21.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/21.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Decocenter</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/22.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/22.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">NeverFail</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/23.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/23.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Nobilacasa</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/2.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/2.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">StarAssembly</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/1.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/1.jpg"
                         class="img-fluid">
                    <h3 class="text-center my-3">FactoryShop</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/LitereVolumetrice/25.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/LitereVolumetrice/25.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">NestofAngels</h3>
                </a>
            </figure>

        </div>
    </div>
</div>
</div>
{{>scripts}}
<script src="/js/gallery.js"></script>
</body>
</html>
