<!DOCTYPE html>
<html lang="en">

<head>
    <title>Elderom Cluj-Napoca-Standuri-Expo</title>
   {{>metas}}

</head>

<body id="galerie">
{{>headerGallery}}
<div class="galerie">
<div data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="gallery">
            </div>
            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/StanduriExpo/1.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/StanduriExpo/1.jpg"
                         class="img-fluid">
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/StanduriExpo/2.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/StanduriExpo/2.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/StanduriExpo/3.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/StanduriExpo/3.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/StanduriExpo/4.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/StanduriExpo/4.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/StanduriExpo/5.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/StanduriExpo/5.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/StanduriExpo/6.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/StanduriExpo/6.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/StanduriExpo/7.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/StanduriExpo/7.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/StanduriExpo/8.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/StanduriExpo/8.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/StanduriExpo/9.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/StanduriExpo/9.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/StanduriExpo/10.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/StanduriExpo/10.jpg"
                         class="img-fluid">
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/StanduriExpo/11.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/StanduriExpo/11.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/StanduriExpo/12.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/StanduriExpo/12.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/StanduriExpo/13.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/StanduriExpo/13.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/StanduriExpo/14.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/StanduriExpo/14.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/StanduriExpo/15.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/StanduriExpo/15.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/StanduriExpo/16.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/StanduriExpo/16.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/StanduriExpo/17.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/StanduriExpo/17.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/StanduriExpo/18.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/StanduriExpo/18.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/StanduriExpo/19.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/StanduriExpo/19.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/StanduriExpo/20.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/StanduriExpo/20.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/StanduriExpo/21.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/StanduriExpo/21.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/StanduriExpo/22.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/StanduriExpo/22.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/Totemuri/1.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/Totemuri/1.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/Totemuri/2.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/Totemuri/2.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/Totemuri/3.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/Totemuri/3.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/Totemuri/4.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/Totemuri/4.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/Totemuri/5.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/Totemuri/5.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/Totemuri/6.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/Totemuri/6.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/Totemuri/7.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/Totemuri/7.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/Totemuri/8.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/Totemuri/8.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/Totemuri/9.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/Totemuri/9.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/Totemuri/10.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/Totemuri/10.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/Totemuri/11.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/Totemuri/11.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="../img/portfolio/Totemuri/12.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="../img/portfolio/Totemuri/12.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>
        </div>
    </div>
</div>
</div>
{{>scripts}}
<script src="/js/gallery.js"></script>
</body>
</html>
