<!DOCTYPE html>
<html lang="en">

<head>
    <title>Elderom Cluj-Napoca-Unicate</title>
   {{>metas}}

</head>

<body id="galerie">
{{>headerGallery}}
<div class="galerie">
<div data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="gallery">
            </div>
            <figure class="col-md-4">
                <a class="black-text" href="/img/portfolio/GarduriPortiBalustrade/1.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="/img/portfolio/GarduriPortiBalustrade/1.jpg"
                         class="img-fluid">
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="/img/portfolio/GarduriPortiBalustrade/7.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="/img/portfolio/GarduriPortiBalustrade/7.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="/img/portfolio/GarduriPortiBalustrade/8.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="/img/portfolio/GarduriPortiBalustrade/8.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="/img/portfolio/GarduriPortiBalustrade/2.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="/img/portfolio/GarduriPortiBalustrade/2.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="/img/portfolio/GarduriPortiBalustrade/3.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="/img/portfolio/GarduriPortiBalustrade/3.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="/img/portfolio/GarduriPortiBalustrade/4.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="/img/portfolio/GarduriPortiBalustrade/4.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="/img/portfolio/GarduriPortiBalustrade/5.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="/img/portfolio/GarduriPortiBalustrade/5.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="/img/portfolio/GarduriPortiBalustrade/6.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="/img/portfolio/GarduriPortiBalustrade/6.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="/img/portfolio/Unicate/8.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="/img/portfolio/Unicate/8.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="/img/portfolio/Unicate/9.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="/img/portfolio/Unicate/9.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="/img/portfolio/Unicate/10.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="/img/portfolio/Unicate/10.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="/img/portfolio/Unicate/11.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="/img/portfolio/Unicate/11.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="/img/portfolio/Unicate/1.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="/img/portfolio/Unicate/1.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="/img/portfolio/Unicate/2.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="/img/portfolio/Unicate/2.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="/img/portfolio/Unicate/3.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="/img/portfolio/Unicate/3.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="/img/portfolio/Unicate/4.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="/img/portfolio/Unicate/4.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="/img/portfolio/Unicate/5.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="/img/portfolio/Unicate/5.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="/img/portfolio/Unicate/6.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="/img/portfolio/Unicate/6.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            <figure class="col-md-4">
                <a class="black-text" href="/img/portfolio/Unicate/7.jpg"
                   data-size="1600x1067" target="_blank">
                    <img alt="picture" src="/img/portfolio/Unicate/7.jpg"
                         class="img-fluid"/>
                    <h3 class="text-center my-3">Photo title</h3>
                </a>
            </figure>

            </figure>
        </div>
    </div>
</div>
</div>
{{>scripts}}
<script src="/js/gallery.js"></script>
</body>
</html>
