<!-- Contact -->
<div data-aos="fade-up">
    <section class="page-section" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Contact</h2>
                    <h4 class="text-white">S.C. ELDEROM IMPEX S.R.L.</h4>
                    <h5 class="text-white">Str. Muresului Nr. 37, Cluj-Napoca</h5>
                </div>
                <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                    <i class="fas fa-phone fa-3x mb-3"></i>
                    <p>+40 729 400 130</p>
                </div>
                <div class="col-lg-4 mr-auto text-center">
                    <i class="fas fa-envelope fa-3x mb-3"></i>
                    <!-- Make sure to change the email address in anchor text AND the link below! -->
                    <p>contact@yourwebsite.com</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form id="contactForm" name="sentMessage" novalidate="novalidate">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" id="name" type="text" placeholder="Nume *"
                                           required="required"
                                           data-validation-required-message="Te rugam sa introduci numele.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="email" type="email" placeholder="Email *"
                                           required="required"
                                           data-validation-required-message="Te rugam sa introduci adresa de e-mail.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="phone" type="tel" placeholder="Telefon *"
                                           required="required"
                                           data-validation-required-message="Te rugam sa introduci numarul de telefon.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                <textarea class="form-control" id="message" placeholder="Mesajul dvs. *"
                                          required="required"
                                          data-validation-required-message="Va rugam introduceti mesajul dvs."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button id="sendMessageButton" class="btn btn-primary text-dark"
                                        type="submit">
                                    Trimite Mesajul
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br>
        </div>
    </section>
</div>