<!-- Contact -->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase" style="margin-top: -50px; color:black;">Contact</h2>
                     <i class="fas fa-map-marker fa-3x mb-3" style="color: black;"></i>
                    <h5 class="text-dark">Str. Muresului Nr. 37, Cluj-Napoca</h5>
                </div>
                <div class="col-lg-4 ml-auto text-center" style="">
                    <i class="fas fa-phone fa-3x mb-3" style="color: black;"></i>
                    <p style="color: black;">+40 729 400 130</p>
                </div>
                <div class="col-lg-4 mr-auto text-center" style="">
                    <i class="fas fa-envelope fa-3x mb-3" style="color: black;"></i>
                    <!-- Make sure to change the email address in anchor text AND the link below! -->
                    <p style="color: black;">contact@yourwebsite.com</p>  
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form id="contactForm" name="sentMessage" novalidate="novalidate">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" id="name" type="text" placeholder="Nume *"
                                           required="required"
                                           data-validation-required-message="Va rugam introduceti numele.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="email" type="email" placeholder="Email *"
                                           required="required"
                                           data-validation-required-message="Va rugam introduceti adresa de e-mail.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="phone" type="tel" placeholder="Telefon *"
                                           required="required"
                                           data-validation-required-message="Va rugam introduceti numarul de telefon.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                <textarea class="form-control" id="message" placeholder="Mesajul dvs. *"
                                          required="required"
                                          data-validation-required-message="Va rugam introduceti mesajul dvs."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button id="sendMessageButton" class="btn btn-primary text-dark"
                                        type="submit" style="margin-bottom: 20px;">
                                    Trimite Mesajul
                                </button>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div class="gmap_canvas">
                                    <iframe width="100%" height="400" id="gmap_canvas"
                                            src="https://maps.google.com/maps?q=Elderom&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="5"
                                            scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                    <style>.mapouter {
                                        width: 100%;
                                    }

                                    .gmap_canvas {
                                        overflow: hidden;
                                        background: none !important;
                                        width: 100%;
                                    }</style>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br>
        </div>
    </section>