<!-- Footer -->
<footer class="footer">
  <!-- Copyright -->
  <div class="align-items-center">
            <span class="copyright">Copyright &copy; S.C. Elderom Impex S.R.L. 2020</span>
    </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->