<div class="bg-image"></div>
<header class="masthead">
    <div data-aos="fade-up">
        <div class="container">
            <div class="intro-text">
                <h1 class="intro-lead-in">
                    <span class="intro-heading1">S.C.</span>
                    <span class="intro-heading2">ELDEROM</span>
                    <span class="intro-heading1">IMPEX</span>
                    <span class="intro-heading2">S.R.L.</span>
                </h1>
                <div id="" class="intro-lead-in">Producție publicitară</div>
                <div id="" class="intro-lead-in">Confecții metalice ușoare</div>

            </div>
                            <a id="" class="btn btn-primary btn-xl text-dark js-scroll-trigger" href="#servicii">Află
                    mai multe!</a>
        </div>
    </div>
</header>