<div class="bg-image"></div>
<header class="masthead">
    <div data-aos="fade-up">
        <div class="container">
            <div class="intro-text">
                <h1 class="logo">
                    <span class="word1">S.C.</span>
                    <span class="word2">ELDEROM</span>
                    <span class="word1">IMPEX</span>
                    <span class="word2">S.R.L.</span>
                </h1>
                <br>
                <br>
                <div id="secondTitle" class="intro-lead-in">Producție publicitară</div>
                <div id="secondTitle" class="intro-lead-in">Confecții metalice ușoare</div>
                <a id="mainButton" class="btn btn-primary btn-xl text-dark js-scroll-trigger" href="#servicii">Află
                    mai multe!</a>
            </div>
            <br>
        </div>
    </div>
</header>