<!-- Modal -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-16 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Creic Cluj-Napoca</h2>
                            <p class="item-intro text-muted">Centru Regional de Excelență pentru Industrii Creative</p>
                            <img class="img img-fluid d-block mx-auto" src="img/portfolio/LitereVolumetrice/46.jpg" alt="">
                            <p>Un proiect complex datorită formei și dimensiunii totemului.</p>
                            <ul class="list-inline" id="detalii_proiect">
                                <li>Structura metalică de rezistență.</li>
                                <li>Placare cu bond, cu atenție la detaliile de îmbinare.</li>
                                <li>Litere volumetrice luminoase.</li>
                                <li>Suport de steaguri profesionale.</li>
                            </ul>
                            <ul class="list-inline">
                                <li>Data: Octombire 2016</li>
                                <li>Client: Primăria Cluj-Napoca</li>
                                <li>Categoria: Totemuri</li>
                            </ul>
                            <button class="btn btn-primary text-dark" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Închide
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-16 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Bombardier</h2>
                            <p class="item-intro text-muted">The Office Cluj-Napoca</p>
                            <img class="img img-fluid d-block mx-auto" src="img/portfolio/LitereVolumetrice/42.jpg" alt="">
                            <p>Litere volumetrice luminoase</p>
                            <ul class="list-inline" id="detalii_proiect">
                                <li>Suport metalic pentru montaj.</li>
                                <li>Litere executate integral din plexiglass.</li>
                                <li>Iluminare cu bandă LED SMD.</li>
                            </ul>
                            <ul class="list-inline">
                                <li>Data: Mai 2015</li>
                                <li>Client: Bombardier </li>
                                <li>Categoria: Litere Volumetrice</li>
                            </ul>
                            <button class="btn btn-primary text-dark" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Închide
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-16 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Iluminare Atrium</h2>
                            <p class="item-intro text-muted">Sistem de iluminare unicat</p>
                            <img class="img img-fluid-merged d-block mx-auto" src="img/portfolio/Mobilier/34.jpg" alt="">
                            <p>O provocare a tehnicii de iluminare datorită formei si dimensiunilor corpurilor de iluminat</p>
                            <ul class="list-inline" id="detalii_proiect_atrium">
                                <li>Față corpuri de iluminat - decupate laser după proiect execuție clădire.</li>
                                <li>Sistem de montaj reglabil orizontal-vertical pentru aliniere cu tavanul.</li>
                                <li>Iluminare cu module LED dimabile cu control digital al intensității luminoase.</li>
                            </ul>
                            <ul class="list-inline">
                                <li>Data: Septembrie 2017</li>
                                <li>Client: IQuest </li>
                                <li>Categoria: Sisteme de Iluminare</li>
                            </ul>
                            <button class="btn btn-primary text-dark" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Închide
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-32 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Betfair</h2>
                            <p class="item-intro text-muted">The Office Cluj-Napoca</p>
                            <img class="img img-fluid d-block mx-auto" src="img/portfolio/LitereVolumetrice/27.jpg" alt="">
                            <p>Litere volumetrice luminoase</p>
                            <ul class="list-inline"  id="detalii_proiect">
                                <li>Suport metalic pentru montaj.</li>
                                <li>Litere executate din plexiglass si PVC.</li>
                                <li>Iluminare cu bandă LED SMD.</li>
                                <li>Outline luminos pe contur exterior.</li>
                            </ul>
                            <ul class="list-inline">
                                <li>Data: Iunie 2015</li>
                                <li>Client: Betfair </li>
                                <li>Categoria: Litere Volumetrice</li>
                            </ul>
                            <button class="btn btn-primary text-dark" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Închide
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-32 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">NobilaCasa</h2>
                            <p class="item-intro text-muted">Iuliu-Maniu, Cluj-Napoca</p>
                            <img class="img img-fluid d-block mx-auto" src="img/portfolio/LitereVolumetrice/23.jpg" alt="">
                            <p>Litere volumetrice luminoase</p>
                            <ul class="list-inline"  id="detalii_proiect">
                                <li>Montaj individual pe fatada, distantat.</li>
                                <li>Litere executate din PVC, opace.</li>
                                <li>Iluminare cu bandă LED SMD.</li>
                                <li>Iluminare cu efect Halo.</li>
                            </ul>
                            <ul class="list-inline" id=">detalii_proiect">
                                <li>Data: August 2014</li>
                                <li>Client: Deco Center</li>
                                <li>Categorie: Litere Volumetrice</li>
                            </ul>
                            <button class="btn btn-primary text-dark" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Închide
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-32 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Bosch</h2>
                            <p class="item-intro text-muted">Hala productie Blaj</p>
                            <img class="img img-fluid d-block mx-auto" src="img/portfolio/LitereVolumetrice/44.jpg" alt="">
                            <p>Litere volumetrice luminoase</p>
                             <ul class="list-inline"  id="detalii_proiect">
                                <li>Montaj individual pe fatada.</li>
                                <li>Litere executate din Plexiglass si PVC.</li>
                                <li>Iluminare cu module LED SMD.</li>
                            </ul>
                            <ul class="list-inline" id=">detalii_proiect">
                                <li>Data: Februarie 2018</li>
                                <li>Client: Bosch Romania</li>
                                <li>Categorie: Litere Volumetrice</li>
                            </ul>
                            <button class="btn btn-primary text-dark" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Închide
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-32 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Unicarm Supermarket</h2>
                            <p class="item-intro text-muted">Cluj si judetele limitrofe</p>
                            <img class="img img-fluid d-block mx-auto" src="img/portfolio/NewPhotos/60.jpg" alt="">
                            <ul class="list-inline"  id="detalii_proiect">
                                <li>Bandou perimetral din bond pe structura de aluminiu.</li>
                                <li>Caseta luminoasa din tabla de aluminiu decupata laser.</li>
                                <li>Litere Volumetrice din plexiglass alb de 20mm inserate.</li>
                                <li>Iluminare cu module LED waterproof.</li>
                            </ul>
                            <ul class="list-inline" id=">detalii_proiect">
                                <li>Data: Noiembrie 2020</li>
                                <li>Client: Unicarm Romania</li>
                                <li>Categorie: Semnalistica Exterioara</li>
                            </ul>
                            <button class="btn btn-primary text-dark" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Închide
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-32 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Home Gardem Supermarket</h2>
                            <p class="item-intro text-muted">str. Buna Ziua, Cluj-Napoca</p>
                            <img class="img img-fluid d-block mx-auto" src="img/portfolio/NewPhotos/51.jpg" alt="">
                            <p>Semnalistica Exterioara</p>
                            <ul class="list-inline"  id="detalii_proiect">
                                <li>Bandou perimetral din bond pe structura metalica.</li>
                                <li>Litere volumetrice din plexiglass si PVC.</li>
                                <li>Iluminare cu banda LED SMD.</li>
                            </ul>
                            <ul class="list-inline" id=">detalii_proiect">
                                <li>Data: Martie 2019</li>
                                <li>Client: Home Garden</li>
                                <li>Categorie: Semnalistica Exterioara</li>
                            </ul>
                            <button class="btn btn-primary text-dark" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Închide
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-32 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">TIFF</h2>
                            <p class="item-intro text-muted">Cluj-Napoca</p>
                            <img class="img img-fluid d-block mx-auto" src="img/portfolio/ReclameMici/20.jpg" alt="">
                            <p>Cuburi luminoase</p>
                            <ul class="list-inline"  id="detalii_proiect">
                                <li>Constructie integrala din plexiglass.</li>
                                <li>Sistem de alimentare cu acumulator, autonomie 6 ore.</li>
                                <li>Iluminare cu banda LED SMD.</li>
                            </ul>
                            <ul class="list-inline" id=">detalii_proiect">
                                <li>Data: Iunie 2017</li>
                                <li>Client: TIFF Romania</li>
                                <li>Categorie: Elemente de promovare luminoase</li>
                            </ul>
                            <button class="btn btn-primary text-dark" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Închide
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal10" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-32 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Expozitor placi ceramice</h2>
                            <p class="item-intro text-muted">Cluj-Napoca</p>
                            <img class="img img-fluid d-block mx-auto" src="img/portfolio/StanduriExpo/9.jpg" alt="">
                            <p>Standuri Expozitoare</p>
                            <ul class="list-inline"  id="detalii_proiect">
                                <li>Constructie metalica sudata.</li>
                                <li>Capacitate incarcare 1000kg.</li>
                                <li>Sistem de iluminare a panourilor placate.</li>
                            </ul>
                            <ul class="list-inline" id=">detalii_proiect"></ul>
                                <li>Data: Decembrie 2011</li>
                                <li>Client: Sanex</li>
                                <li>Categorie: Standuri Expozitoare</li>
                            </ul>
                            <button class="btn btn-primary text-dark" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Închide
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal11" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-32 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Stand Expozitional</h2>
                            <p class="item-intro text-muted">Romexpo Bucuresti</p>
                            <img class="img img-fluid d-block mx-auto" src="img/portfolio/StanduriExpo/15.jpg" alt="">
                            <p>Stand Expozitional</p>
                            <ul class="list-inline"  id="detalii_proiect">
                                <li>Suprafata stand 200mp cu etaj 100mp.</li>
                                <li>Constructie metalica sudata.</li>
                                <li>Placare cu gips-carton si placi ceramice.</li>
                                <li>Expozitoare cu panouri mobile integrate.</li>
                                <li>Sisteme de iluminare si de afisare.</li>
                            </ul>
                            <ul class="list-inline">
                                <li>Data: Ianuarie 2003</li>
                                <li>Client: Sanex</li>
                                <li>Categorie: Standuri Expozitoare</li>
                            </ul>
                            <button class="btn btn-primary text-dark" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Închide
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal12" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-32 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Copac fatada hostel</h2>
                            <p class="item-intro text-muted">Cluj-Napoca</p>
                            <img class="img img-fluid d-block mx-auto" src="img/portfolio/NewPhotos/TBC.jpg" alt="">
                            <p>Decor arhitectural</p>
                            <ul class="list-inline"  id="detalii_proiect">
                                <li>Constructie modulara din HPL.</li>
                                <li>Montaj pe suporti de inox.</li>
                                <li>Iluminare perimetrala cu banda LED waterproof.</li>
                                <li>Dimensiune 10m x 16m inaltime.</li>
                            </ul>
                            <ul class="list-inline">
                                <li>Data: Februarie 2021</li>
                                <li>Client: Doralex Cluj</li>
                                <li>Categorie: Constructii arhitecturale</li>
                            </ul>
                            <button class="btn btn-primary text-dark" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Închide
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>