<!-- Services -->
<section class="page-section" id="servicii">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img class="imgCustom" src="img/logo_transparent2.png" alt="logo">
                <br>
                <br>
                <br>
                <h2 class="section-subheading">Standarde înalte de calitate</h2>
                <br>
                <br>
                <br>
            </div>
        </div>
        <div data-aos="fade-up">
            <div class="row text-center">
                <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-wallet fa-stack-1x fa-inverse"></i>
          </span>
                    <h4 class="service-heading">Preț accesibil</h4>
                    <p class="">Furnizorii noștri de materiale sunt depozite specializate cu un raport bun calitate-preț.</p>
                    <p class="">Execuția proiectelor se face integral în atelierele noastre.</p>
                </div>
                <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-award fa-stack-1x fa-inverse"></i>
          </span>
                    <h4 class="service-heading">Soluții eficiente</h4>
                    <p class="">Oferim soluții optime datorită experienței noastre de peste 25 de ani în domeniu.</p>
                    <p class="">Creăm produse unicate în care se reflectă viziunea clientului.</p>
                </div>
                <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-tools fa-stack-1x fa-inverse"></i>
          </span>
                    <h4 class="service-heading">Calitate superioară</h4>
                    <p class="">Compania noastră dispune de dotări tehnice moderne și personal calificat. </p>
                    <p>
                        Acestea împreună cu
                    materialele de calitate folosite, garantează calitatea proiectelor.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>