<!-- Tehnologii -->
<section class="page-section" id="tehnologii">
    <div class="container tehnologies">
        <div data-aos="fade-up">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase text-white">Tehnologii</h2>
                    <h3 class="section-subheading text-white">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
        </div>
        <div data-aos="fade-up">
            <div id="carouselExample1" class="carousel slide z-depth-1-half" data-ride="carousel" data-interval="4000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="team-member">
                                    <img class="mx-auto rounded-circle"
                                         src="https://images-na.ssl-images-amazon.com/images/I/61-2K3EXK3L._SX425_.jpg"
                                         alt="">
                                    <h4 class="text-white">Kay Garland</h4>
                                    <p class="text-white">Lead Designer</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="team-member">
                                    <img class="mx-auto rounded-circle"
                                         src="https://images-na.ssl-images-amazon.com/images/I/61-2K3EXK3L._SX425_.jpg"
                                         alt="">
                                    <h4 class="text-white">Larry Parker</h4>
                                    <p class="text-white">Lead Marketer</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="team-member">
                                    <img class="mx-auto rounded-circle"
                                         src="https://images-na.ssl-images-amazon.com/images/I/61-2K3EXK3L._SX425_.jpg"
                                         alt="">
                                    <h4 class="text-white">Diana Pertersen</h4>
                                    <p class="text-white">Lead Developer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="team-member">
                                    <img class="mx-auto rounded-circle"
                                         src="https://images-na.ssl-images-amazon.com/images/I/61-2K3EXK3L._SX425_.jpg"
                                         alt="">
                                    <h4 class="text-white">Kay Garland</h4>
                                    <p class="text-white">Lead Designer</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="team-member">
                                    <img class="mx-auto rounded-circle"
                                         src="https://images-na.ssl-images-amazon.com/images/I/61-2K3EXK3L._SX425_.jpg"
                                         alt="">
                                    <h4 class="text-white">Larry Parker</h4>
                                    <p class="text-white">Lead Marketer</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="team-member">
                                    <img class="mx-auto rounded-circle"
                                         src="https://images-na.ssl-images-amazon.com/images/I/61-2K3EXK3L._SX425_.jpg"
                                         alt="">
                                    <h4 class="text-white">Diana Pertersen</h4>
                                    <p class="text-white">Lead Developer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExample1" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#carouselExample1" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</section>