// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  @include heading-font;
}

.page-section {
  padding: 100px 0;
  h2.section-heading {
    font-weight: 900;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    @include serif-font;
  }
}
@media(min-width:768px) {
  section {
    padding: 150px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

#secondTitle{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-style: normal;
}

#portfolio{
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(75, 79, 86, 0.1)), to(rgba(111, 111, 111, 0.2))), url("/img/cool-background (1).png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#despre{
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(75, 79, 86, 0.1)), to(rgba(103, 107, 114, 0.2))), url("/img/bk7.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.timeline:before {
  background-color: $primary!important;
}

h3.text-center.my-3{
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-style: normal;
  color: black;
  text-decoration: none;
}

h3::selection{
  text-decoration: none;
}

.galerie{
  margin-top: 100px;
}

li.nav-item.active {
  color: $primary;
}

#galerie{
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(75, 79, 86, 0.3)), to(rgba(111, 111, 111, 0.3))),url("/img/bk9.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.img-fluid{
  width: 100%;
  max-width: 400px;
  height: auto;
  max-height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;

}

.img-fluid-about{
  max-width: 100%;
  height: auto;
}

#tehnologii{
  background: rgb(255,255,255);
  background: url("/img/bk8.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#servicii{
  background: rgb(255,255,255);
  background: url("/img/bk8.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#portfolioTitle{
  margin-top: 25px;
}



