// Styling for the contact section
section#contact {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/img/contact.jpg") no-repeat center center fixed;
  color: white;
  .section-heading {
    color: $white;
  }
  .form-group {
    margin-bottom: 25px;
    input,
    textarea {
      padding: 5px;
    }
    input.form-control {
      height: auto;
      background-color: white;
    }
    textarea.form-control {
      height: 159px;
      background-color: white;
    }
  }
  .form-control:focus {
    border-color: $primary;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    font-weight: 700;
    color: $black;
    @include heading-font;
  }
  :-moz-placeholder {
    font-weight: 700;
    color: $black;
    @include heading-font;
  }
  ::-moz-placeholder {
    font-weight: 700;
    color: $black;
    @include heading-font;
  }
  :-ms-input-placeholder {
    font-weight: 700;
    color: $black;
    @include heading-font;
  }
}
